.box-news {
    cursor: pointer;
    h5 {
        text-align: left;
        font-size: 28px;
        font-weight: 600;
        color: #21409A;
    }
    p {
        text-align: left;
    }
    span {
        text-align: left;
    }
}

.loading-weather {
    height: 6.7em;
    animation: pulse-bg 1s infinite;
}

@keyframes pulse-bg {
    0% { background-color: #ddd; }
    50% { background-color: #d0d0d0; }
    100% { background-color: #ddd; }
  }