.box-news {
    cursor: pointer;
    h5 {
        text-align: left;
        font-size: 28px;
        font-weight: 600;
        color: #21409A;
    }
    p {
        text-align: left;
    }
    span {
        text-align: left;
    }
}