h1, button {
    font-family: BrandonGrotesquen;
}
.parallax-makkah {
    height: 250px;
    background-image: url("../assets/img/Islamic-vector.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}