h1, button {
    font-family: BrandonGrotesquen;
}
.parallax-makkah {
    height: 250px;
    background-image: url("../assets/img/Islamic-vector.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-rekomendasi {
    background-color: #eef8f6;
    padding: 2em;
    margin-top: 2em;
    button {
        margin-right: 1.2rem;
    }
    @media only screen and (max-width: 768px) {
        button {
            margin-bottom: 0.7rem;
            margin-right: 0;
        }
    }
}

.rekomendasi {
    li {
        margin-bottom: 0.4em;
        cursor: pointer;
        text-align: left;
        font-size: 20px;
    }
}

.kategori-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
   .kategori-mobile {
       display: block;
   }
   .kategori-dekstop {
       display: none;
   }
}