.carousel-custom {
    img {
        max-width: 100%;
        height: auto;
    }
}

.display-image {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.product-title {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}