.pembayaran-wrap {
  border-radius: 5px;
  padding: 25px 200px;
  border: 1.3px solid #e0e0e0;
  height: auto;
  margin: 2.5rem 2rem 0 2rem;
  h5 {
    text-align: left;
  }
  p {
    text-align: left;
  }
  .pembayaran-date {
    margin-top: 0.3rem;
    h5 {
      color: grey;
      font-size: 18px;
    }
    h4 {
      font-size: 22px;
      color: #FA591D;
      font-weight: 600;
    }
  }
  .price {
    font-size: 19px;
    color: #FA591D;
    font-weight: 600;
  }
  .unique {
    font-size: 20px;
    font-weight: 600;
  }
  .wording-trf {
    padding: 1rem 2rem;
    background-color: #fff7da;
    border: 1px solid #edd97c;
    height: auto;
    border-radius: 5px;
    p {
      margin-bottom: none;
      font-size: 16px;
    }
  }
  button {
    width: 100%;
  }
  .img-wrapp {
    .delete-img {
        top: -57px;
        position: relative;
        font-size: 30px;
    }
  }
  @media only screen and (max-width: 768px) {
    padding: 0;
    margin: 2.5rem 0 0 0;
  }
}

.footer-review {
  margin-top: 6rem !important;
}
.pesanan {
    border: 1px solid black;
    padding: 1.3rem;
    h5 {
        text-align: left;
    }
    p {
        text-align: left;
        font-size: 18px;
        span {
            font-weight: 600;
        }
    }
}

.bukti-bayar {
    border: 1px solid black;
    padding: 1.3rem;
    h5 {
        text-align: left;
    }
    .img-wrapp {
        .delete-img {
            top: -85px;
            position: relative;
            font-size: 30px;
        }
    }
}


.image-upload {
    background: #00bcbe;
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 10px;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	overflow: hidden;
	padding: 0.5rem 3rem;
	position: relative;
	text-align: center;
	width: 120px;
   cursor: pointer;

   input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 148px;
    height: 46px;
    cursor: pointer;
   }
}

.image-holder {
    background-color: grey;
    width: 340px;
    height: 340px;
}

.loading-pembayaran {
  margin-top: 6rem;
  border-radius: 5px;
  border: 1.3px solid #e0e0e0;
  height: auto;
  h4 {
    font-weight: 600;
  }
  p {
    font-size: 18px;
    padding-bottom: 2rem;
  }
}

  